@import '../../../../../themes/custom/d9site/scss/var/_var';

.block-type--custom_text.block-view-mode--default {
  position: relative;
/* nested */

/* /nested */
}


/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */


  .block-type--custom_text.block-view-mode--default {
/* nested */


/* /nested */
}


/* /desktop */
}
