{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * Field variables for this block type
 *   content.field_block_image
 *   content.field_block_text
 *   content.field_block_link
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-type--custom_text',
    'block-view-mode--default'
  ]
%}
{{ attach_library('d9blocks_custom_text/d9blocks_custom_text') }}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
  {% if label %}
<div class="title">
    <h2{{ title_attributes }}>{{ label }}</h2>
{# /title #}
</div>
{{ title_suffix }}
  {% endif %}
  {% block content %}
  {% include '@d9site/includes/block-link.html.twig' %}
<div class="block-wrap">
<div class="content body-copy">
{{ content.field_block_body.0 }}
{{ content.field_block_text.0 }}
{# /content #}
</div>
{# /block-wrap #}
</div>
{% endblock %}
{# /block #}
</div>

